<!DOCTYPE html>
<html lang="en">

<head>
    <title>&nbsp;</title>
</head>

<body>
    <div>{{msg}}</div>
    <h1>Login</h1>
    <form method="post" action="/login">
        <div style="display:flex;">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div style="display:flex;">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <input type="submit" value="Login">
    </form>
    <p><a href="{{url_for('login.register')}}">Register</a></p>
</body>

</html>