{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <h1>Sign Up</h1>
    <form method="post" action="{{url_for('login.register')}}">
        {{ form.hidden_tag() }}
        <div class="login-form-fields">
        <div class="login-form-group">
            {{ form.username.label }} {{ form.username }}
        </div>
        <div class="login-form-group">
            {{ form.email.label }} {{ form.email }}
        </div>
        <div class="login-form-group">
            {{ form.password.label }} {{ form.password }}
        </div>
        <div class="login-form-group">
            {{ form.confirm_password.label }} {{ form.confirm_password }}
        </div>
        <input type="submit" value="Sign Up">
    </div>
    </form>
    <p><a href="{{url_for('login.login')}}">Login to existing account</a></p>
{% endblock %}